* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  background-color: rgba(220, 165, 119, 0.201);
  font-family: 'Signika Negative', sans-serif;
}

#portfolio {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, li, a, button{
  font-family: 'DM Serif Display', serif;
}

p {
  padding: 7px 20px;
}

a, button{
  color:rgb(121,0,0);
}

a:hover, button:hover {
  text-decoration: underline;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}


.body-container {
  width: 75%;
  height: 100%;
  margin: auto;
  background-color: transparent;
}

.content-container {
  width: 90%;
  margin: auto;
}

.header-content {
  position: relative;
}

.logo {
  width: 87%;
  padding-top: 5px;
}

.logo a {
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  font-family: 'Fascinate', cursive;
  color: rgb(0,0,255);
}

.header-nav  li {
  float: left;
  padding: 10px;
  font-size: 1.1em;
}

.deal-of-day {
  position: absolute;;
  top: 0;
  right: 0;
  width: 50%;
  margin-top: 20px;
  margin-right: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.406);
  border: 2px dotted rgba(227, 30, 37, 0.753);
  border-radius: 5px;
  font-size: 15px;
}


.hidden-link {
  display: none;

}

.news-container {
  clear: left;
  text-align: justify;
  margin: 70px 10px 0;
  background-color: white;
  border: 1px solid rgb(0,0,0, .2);
  border-radius: 3px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.7);
}

.news-container img {
  width: 100%;
  height: auto;
  border: 1px solid rgb(0,0,0,)
}

.news-container h1{
  text-align: center;
  margin: 6px 0 3px;
}

.news-container p{
  word-spacing: 3px;
  padding: 20px 40px 30px;
}

.buy-container {
  margin-top: 50px;
}

.buy-container h2 {
  margin: 20px 0 0;
  padding-left: 5px;
}

.grid-container {
  display: grid;
  column-gap: 8px;
  row-gap: 5px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px; 
}

.grid-item img:hover {
  border: 1px solid #777;
}

.shop-link {
  float: right;
  margin-bottom: 20px;
}

#donate {
  clear: both;
}

#donate::after {
  content: "";
  clear: both;
  display: table;
}

.gallery {
  float: left;
  width: 31%;
  margin: 10px 5px 30px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

#about {
  margin-top: 20px;
}

#about p {
  padding-left: 9px;
}

#footer-content {
  padding: 40px 0px 45px;
  border-top: 1px solid rgba(0,0,0,1);
  margin-top: 40px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  font-size: 0.9em;
}

.footer-nav h5 {
  color:rgb(121,0,0);
  font-size: .7em;
  margin-right: 7px;
}

.footer-nav .footer-item:nth-child(1) a {
  padding: 0 8px;
}

.footer-nav .footer-item:nth-child(1) a:nth-child(1) {
  padding-left: 0;
}

.footer-nav .footer-item:nth-child(1) a:nth-child(4) {
  padding-right: 0;
}

.social-icons a {
  padding: 0 5px;
}


/* Extra large devices (large laptops and desktops, 1222px and up) */
@media only screen and (max-width: 1222px) {
  .gallery {
    width: 40%;
    margin: 7px 22px 30px 12px;
  }

  .small-vw {
    margin-left: 11%;
  }

  .deal-of-day {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    margin-top: 30px;
    padding-left: 10%;
  }
  
  .deal-of-day h2, .deal-of-day a {
    margin: auto;
  }

  .deal-paragraph, .deal-link{
    display: none;
  }

  .hidden-link {
    display: initial;
  }

}

/* Extra large devices (large laptops and desktops, 1060px and up) */
@media only screen and (max-width: 1060px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  .deal-of-day {
    width: 43%;
  }

  .deal-paragraph, .deal-link{
    display: none;
  }

  .hidden-link {
    display: initial;
  }

}

/* SCREEN 910px */
@media only screen and (max-width: 910px) {
  .gallery {
    width: 80%;
  }

  .small-vw {
    margin-left: 9%;
  }

  .deal-of-day {
    box-sizing: content-box;
    width: 33%;
    padding: 10px;
  }

  .deal-paragraph, .deal-link{
    display: none;
  }

  .hidden-link{
    display: initial;

  }
}

/* SCREEN 742px */
@media only screen and (max-width: 742px) {
  .grid-container {
    grid-template-columns: auto ;
  }

  .deal-of-day {
    clear: both;
    position: relative;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.406);
    padding: 10px;
  }

  .hidden-link, .deal-paragraph {
    display: block;
  }

  .news-container{
    margin-top: 30px;
  }

}


/* SCREEN 546px */
@media only screen and (max-width: 546px) {
  .nav-links {
    margin-right: 30px;
  } 

}