* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

body {
  background-color: black;
  color: orange;
}

#portfolio {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#portfolio:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 84px;
  text-shadow: -3px -3px 1px rgb(187, 123, 6), 3px 3px 1px #ffffff;
}

h3 {
  font-size: 30px;
  text-shadow: -1px -1px 0px orange, 1px 1px 0px #ffffff;
}

p {
  font-size: 20px;
}

.main-container {
  width: 90%;
  height: 100vh;
  margin: auto;
}

header {
  text-align: center;
  padding-top: 20px;
}

.mid-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.str-button {
  width: 100px;
  margin: 75px auto 70px;
  padding: 10px;
  font-size: 26px;
  background-color: white;
  border: 1px solid orange;
  border-radius: 8px;
}


iframe {
  box-sizing: content-box;
  padding: 45px 10px 0;
  margin: auto;
  max-width: fit-content;
}

#game, #disclaimer {
  display: none;
}

.mainDisplay {
  vertical-align: middle;
  min-height: 80px;
}

#disclaimer {
  max-width: 400px;
  margin: 10px auto 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.nav {
  font-size: 20px;
}

.nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

li {
  display: inline-block;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  footer {
    align-items: center;
    height: 26%;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 44px;
  }

  h3 {
    font-size: 20px;
  }
  
  header {
    margin-top: 60px;
  }

  .main-container {
    width: 85%;
  }

}